<!-- About Section -->
<div class="container">
  <h3>About the company</h3>

  <div class="row mb-5">
    <div class="col-md-3 order-md-2 mb-3 mb-md-0">
      <div class="pl-md-4">
        <ul class="list-unstyled list-article">
          <li>
            <span class="h5 d-block">Founded</span>
            <span class="d-block font-size-1">2009</span>
          </li>

          <li>
            <span class="h5 d-block">Company size</span>
            <span class="d-block font-size-1">150 - 300</span>
          </li>

          <li>
            <span class="h5 d-block">Avg. Salary</span>
            <span class="d-block font-size-1">$25 - $45</span>
          </li>

          <li>
            <span class="h5 d-block">Industry</span>
            <span class="d-block font-size-1">Information Technology</span>
          </li>

          <li>
            <span class="h5 d-block">Links</span>

            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="icon icon-xs icon-soft-dark icon-circle" href="#" data-toggle="tooltip" data-placement="top" title="Capsule on Facebook">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="icon icon-xs icon-soft-dark icon-circle" href="#" data-toggle="tooltip" data-placement="top" title="Capsule on Twitter">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="icon icon-xs icon-soft-dark icon-circle" href="#" data-toggle="tooltip" data-placement="top" title="Capsule on Github">
                  <i class="fab fa-github"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="mb-5">
        <p>Capsule was launched in 2009 following the founders' frustration with existing CRM services that were either overly simplistic or far too complex for most businesses. We believe the value of a modern CRM lies in the ability to help businesses stay organized, know more about their customers, build strong relationships and to make the most of sales opportunities, all while minimizing user input. We built Capsule to deliver on these values and today Capsule is used by thousands of businesses of all sizes all over the world.</p>

        <div class="collapse" id="collapseLinkDescription">
          <p>We're based in Manchester, United Kingdom, a city with a creative heart that was founded on science and industry and the birthplace of the modern computer.</p>
        </div>

        <a class="link-collapse" data-toggle="collapse" href="#collapseLinkDescription" role="button" aria-expanded="false" aria-controls="collapseLinkDescription">
          <span class="link-collapse-default">Read more <i class="fas fa-angle-down fa-sm ml-1"></i></span>
          <span class="link-collapse-active">Read less <i class="fas fa-angle-up fa-sm ml-1"></i></span>
        </a>
      </div>

      <div id="fancyboxGallery">
        <div class="row mx-n2">
          <div class="col-4 col-sm px-2 mb-3 mb-sm-0">
            <a class="js-fancybox media-viewer" href="javascript:;"
               data-hs-fancybox-options='{
                 "selector": "#fancyboxGallery .js-fancybox",
                 "speed": 700
               }'
               data-src="{{ siteUrl }}assests/img/900x900/img1.jpg"
               data-caption="Front in frames - image #01">
              <img class="img-fluid rounded" src="{{ siteUrl }}assets/img/900x900/img1.jpg" alt="Image Description">

              <span class="media-viewer-container">
                <span class="media-viewer-icon">
                  <i class="fas fa-plus media-viewer-icon-inner"></i>
                </span>
              </span>
            </a>
          </div>

          <div class="col-4 col-sm px-2 mb-3 mb-sm-0">
            <a class="js-fancybox media-viewer" href="javascript:;"
               data-hs-fancybox-options='{
                 "selector": "#fancyboxGallery .js-fancybox",
                 "speed": 700
               }'
               data-src="{{ siteUrl }}assests/img/900x900/img8.jpg"
               data-caption="Front in frames - image #02">
              <img class="img-fluid rounded" src="{{ siteUrl }}assests/img/900x900/img8.jpg" alt="Image Description">

              <span class="media-viewer-container">
                <span class="media-viewer-icon">
                  <i class="fas fa-plus media-viewer-icon-inner"></i>
                </span>
              </span>
            </a>
          </div>

          <div class="col-4 col-sm px-2 mb-3 mb-sm-0">
            <a class="js-fancybox media-viewer" href="javascript:;"
               data-hs-fancybox-options='{
                 "selector": "#fancyboxGallery .js-fancybox",
                 "speed": 700
               }'
               data-src="{{ siteUrl }}assests/img/900x900/img7.jpg"
               data-caption="Front in frames - image #03">
              <img class="img-fluid rounded" src="{{ siteUrl }}assests/img/900x900/img7.jpg" alt="Image Description">

              <span class="media-viewer-container">
                <span class="media-viewer-icon">
                  <i class="fas fa-plus media-viewer-icon-inner"></i>
                </span>
              </span>
            </a>
          </div>

          <div class="col-4 col-sm px-2 mb-3 mb-sm-0">
            <a class="js-fancybox media-viewer" href="javascript:;"
               data-hs-fancybox-options='{
                 "selector": "#fancyboxGallery .js-fancybox",
                 "speed": 700
               }'
               data-src="{{ siteUrl }}assests/img/900x900/img23.jpg"
               data-caption="Front in frames - image #04">
              <img class="img-fluid rounded" src="{{ siteUrl }}assests/img/900x900/img23.jpg" alt="Image Description">

              <span class="media-viewer-container">
                <span class="media-viewer-icon">
                  <i class="fas fa-plus media-viewer-icon-inner"></i>
                </span>
              </span>
            </a>
          </div>

          <div class="col-4 col-sm px-2 mb-3 mb-sm-0">
            <a class="js-fancybox media-viewer" href="javascript:;"
               data-hs-fancybox-options='{
                 "selector": "#fancyboxGallery .js-fancybox",
                 "speed": 700
               }'
               data-src="{{ siteUrl }}assests/img/900x900/img9.jpg"
               data-caption="Front in frames - image #05">
              <img class="img-fluid rounded" src="{{ siteUrl }}assests/img/900x900/img9.jpg" alt="Image Description">

              <span class="media-viewer-container">
                <span class="media-viewer-icon media-viewer-icon-active">
                  <span class="media-viewer-icon-inner">+1</span>
                </span>
              </span>
            </a>
          </div>
        </div>

        <img class="js-fancybox d-none" alt="Image Description"
             data-hs-fancybox-options='{
               "selector": "#fancyboxGallery .js-fancybox",
               "speed": 700
             }'
             data-src="{{ siteUrl }}assests/img/900x900/img2.jpg"
             data-caption="Front in frames - image #06">
      </div>
    </div>
  </div>
  <!-- End Row -->
</div>
<!-- About Section -->
