

<!-- Hero Section -->
<div class="container space-top-3 space-top-lg-4 space-bottom-2 space-bottom-lg-3">
  <div class="row justify-content-lg-between mb-7">
    <div class="col-md-6 col-lg-5">
      <!-- Info -->
      <div class="mb-5">
        {% for block in entry.heroContents %}
          {% switch block.type %}
            {% case 'heroHeading' %}
              <h1>{{ block.heading }}</h1>
            
            {% case 'heroDiscription' %}
              <p>{{ block.discription }}</p>
          {% endswitch %}
        {% endfor %}
        
      </div>
      
      <div class="mb-3">
        {% for block in entry.heroContents %}
          {% if block.type == "heroLinks" %}
            <a class="{{ block.buttonClass }}" href="{{ block.linkUrl }}">{{ block.linkName }}</a>
          {% endif %}
        {% endfor %}
      </div>

      <p class="small">Start free trial. * No credit card required.</p>
      <!-- End Info -->
    </div>


    <div class="col-md-6 d-none d-md-inline-block">
      <!-- SVG Illustration -->
      <figure class="w-100">
        {% for block in entry.heroContents %}
          {% if block.type == 'heroImage' %}
            {% for pic in block.image %}
            <img class="img-fluid" src="{{ pic.url }}" alt="{{ block.imageCaption }}">
            {% endfor %}
          {% endif %}
        {% endfor %}
      </figure>
      <!-- End SVG Illustration -->
    </div>
  </div>

  <!-- Clients -->
  
  <div class="row justify-content-between text-center">
    {% for image in entry.heroContents %}
    {% if image.type=="heroIcons" %}
    {% set pro = image.icons %}
      {% for im in pro %}
    <div class="col-4 col-lg-2 mb-5 mb-lg-0">
      <div class="mx-3">
        <img class="max-w-11rem max-w-md-13rem mx-auto" src="{{ im.url }}" alt="Image Description">
      </div>
    </div>
      {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
  <!-- End Clients -->
</div>
<!-- End Hero Section -->

